In [6]:
from sklearn.feature_selection import RFE
from sklearn.svm import SVC
from sklearn.preprocessing import StandardScaler

import pandas as pd

In [3]:
df = pd.read_csv('train.csv')
df.fillna(df.mode().iloc[0], inplace=True) # Replace NaN values with mode of corresponding column
# use the factorize() function to convert the column of strings to integers
non_int_columns = df.select_dtypes(exclude=['int']).columns.tolist()
for i in non_int_columns:
    df[i] = pd.factorize(df[i])[0] + 1

In [4]:
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,1,1,8450,1,1,1,1,1,...,0,1,1,1,0,2,2008,1,1,208500
1,2,20,1,2,9600,1,1,1,1,1,...,0,1,1,1,0,5,2007,1,1,181500
2,3,60,1,3,11250,1,1,2,1,1,...,0,1,1,1,0,9,2008,1,1,223500
3,4,70,1,4,9550,1,1,2,1,1,...,0,1,1,1,0,2,2006,1,2,140000
4,5,60,1,5,14260,1,1,2,1,1,...,0,1,1,1,0,12,2008,1,1,250000

In [9]:
X = df.iloc[:, :-1]
y = df.iloc[:, -1]

len_row, len_col = X.shape
print('Row: ',len_row)

# Scale train sets with StandardScaler
X_std = StandardScaler().fit_transform(X)

Row:  1460

In [13]:
from sklearn.feature_selection import RFE
from sklearn.svm import SVC

# Create an SVM object
svm = SVC(kernel="linear", C=1)

# Create an RFE object and set the parameters
rfe = RFE(estimator=svm, n_features_to_select=1)

# Fit the RFE object to the data
rfe.fit(X_std, y)

print(X.columns[rfe.support_])

Index(['OverallQual'], dtype='object')

In [14]:
# Create a DataFrame with the feature names and rankings
rankings = pd.DataFrame({'SVM-RFE': X.columns, 'Ranking': rfe.ranking_})

# Sort the DataFrame by the rankings
rankings = rankings.sort_values('Ranking')

# Print the sorted DataFrame
rankings.head(98)

         SVM-RFE  Ranking
17   OverallQual        1
62    GarageArea        2
12  Neighborhood        3
77        YrSold        4
37     BsmtUnfSF        5
..           ...      ...
5         Street       76
71      PoolArea       77
72        PoolQC       78
74   MiscFeature       79
9      Utilities       80

[80 rows x 2 columns]